@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container row p-0 mb-3">
    <div class="col-12 text-center">
        <h1>Item Dashboard</h1>
    </div>
</div>

<div class="list-group">
    <a asp-area="Admin" 
       asp-controller="ItemProduct" 
       asp-action="Index" 
       class="list-group-item list-group-item-action">
        Item Product
    </a>
    <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
    <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
</div>