@{
    ViewData["Title"] = "Order Cart";
}

<script src="~/js/orderCart.js"></script>

<div class="container mt-3">

    <div class="row">
        <div class="offset-4 col-4">
            <div class="card" style="width: 22rem;">
                <div class="card-header text-center">
                    Cart
                </div>
                <ul id="cart-list" class="list-group list-group-flush">

                </ul>
                <div id="sumCheckOutTotalPrice" class="card-footer text-center">
                   $
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            const orderCartGroup = localStorage.getItem("orderCartGroup");
            const url = "@Url.Action("GetOrderCartDTO")" + `?id=${orderCartGroup}`;

            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    
                    if (response.length > 0) {

                        let sumTotalPrice = response.reduce(function (accumulator, currentValue) {
                            return accumulator + currentValue.itemProductTotalPrice;
                        }, 0).toFixed(2);
                        $("#sumCheckOutTotalPrice").append(sumTotalPrice);


                        response.forEach(function (item) {
                            $("#cart-list").append(
                                `<li class="list-group-item" id="deleteItem-${item.id}">
                                    <small>
                                        <i class="fas fa-coffee"></i>
                                        ${item.itemProductName} -
                                        ${item.quantity} qty -
                                        <span id="navbarTotalPrice-${item.id}">$${item.itemProductTotalPrice}</span>
                                        <button class="delete-item btn btn-sm btn-danger fas fa-times"
                                                style="float: right; cursor: pointer;"
                                                data-id="${item.id}"
                                                data-request-url="/OrderCart/DeleteItemById">
                                        </button>
                                    </small>
                                </li>`
                            )
                        })

                    } else {

                        $("#sumCheckOutTotalPrice").append("0.00");

                        $("#cart-list").append(
                            `<li class="list-group-item text-center">
                                <small>
                                    No items in cart
                                </small>
                             </li>`
                        )
                    }
                    

                },
                error: function (req, status, error) {
                    console.log(error);
                 }
            })

        })
    </script>
}