@model IEnumerable<CoffeeShopMVC.Repositories.DTO.OrderCartDTO>
@{
    ViewData["Title"] = "Order Cart";

    decimal total = Math.Round(Model.Aggregate((decimal)0, (count, value) => count + value.ItemProductTotalPrice), 2);
}

<script src="~/js/orderCart.js"></script>

<div class="container mt-3">

    <div class="row">
        <div class="col-8 text-center">
            <h1>Order Cart Controller</h1>
        </div>
        <div class="col-4">
            <div class="card" style="width: 22rem;">
                <div class="card-header text-center">
                    Cart
                </div>
                <ul class="list-group list-group-flush">

                    @foreach (var item in Model)
                    {
                        <li class="list-group-item" id="deleteItem-@item.ID">
                            <small>
                                <i class="fas fa-coffee"></i> 
                                @item.ItemProductName - 
                                @item.Quantity qty - 
                                $@item.ItemProductTotalPrice 
                                <button class="deleteItem btn btn-sm btn-danger fas fa-times" 
                                        style="float: right; cursor: pointer;" 
                                        data-id="@item.ID" 
                                        data-request-url="@Url.Action("DeleteItemById", "OrderCart", new { Area = "" })"
                                       
                                        >
                                </button>
                            </small>
                        </li>
                    }

                    
                </ul>
                <div class="card-footer text-center">
                    Total: $@total
                </div>
            </div>
        </div>
    </div>
</div>
